.app-main
  .app-main__header
    .app-main__header__message
      .list1
        総合１位　
      .list2
        部門別１位
      .list3
        部門別１位
    .app-main__header__items
      .right-items
        .right-items__image
          image1
        .right-items__nickname
          name1
      .center-items
        .center-items__image
          image2
        .center-items__nickname
          name2
      .left-items
        .left-items__image
          image3
        .left-items__nickname
          name3
          
      
  .app-main__message-list
    


  .chat-main__message-form
    -# = form_for  [@group, @message] do |f|
    -#   .input-box
    -#     = f.text_field :content, class: 'message-box', placeholder: 'type a message' 
    -#     = f.label :image, class: 'a' do
    -#       = icon('fas', 'image', class: 'input-box__image')
    -#       = f.file_field :image, class: 'input-box__image__file'
    -#   = f.submit 'Send', class: 'submit-btn'