.side-bar {
  @include box-prop (180px, 100vh, oldlace);
  float: left;
  .side-bar__appri-name {
    height: 120px;
    background-color: skyblue;
    border-radius: 40px;
    margin: 3px;
    .upper-name {
      font-size: 60px;
      color: yellow;
      width: 100%;
      text-align: center;
    }
    .lower-name {
      font-size: 12px;
      color: white;
      text-align: center;
    }
    
  }
  &__group-list {
    overflow: scroll;
    background-color: oldlace;
    padding: 0 20px 0 20px;
    .user-name {
      @include box-prop (140px, 50px, "");
      line-height: 50px;
      text-align: center;
      font-size: 20px;
      border-radius: 10px;
      box-shadow:  0 0 10px 10px rgba(rgb(14, 88, 185),0.2)inset;
      margin: 10px 0 0;
    }
    .sign-in{
      @extend .user-name;
    }
    .write-message{
      @extend .user-name;
    }
    .my-favorite{
      @extend .user-name;
    }
  }
}