!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Bfd
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

    .side-bar-left
      .side-bar-left__appri-name
        .upper-name
          BFD
        .lower-name
          Best Fancy Dresser!!
      .side-bar-left__group-list
        .user-name
          Don
        .sign-in
          sign in
        .write-message
          新規投稿
        .my-favorite
          お気に入り

    .side-bar-right
      


  %body
    = yield

